<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Tournament</title>
</head>
<body>
<center>
    <h1>Welcome to Chess </h1>

    <div style="margin: 20px 20px">
        <a href="/" th:href="@{/matchChess}"> Two Player Chess</a>

    </div>

    <div style="margin: 20px 20px">
        <a href="/" th:href="@{/logOutPageMapping}">Log Out</a>

    </div>

    <!--    <a href = "/Tournament.html">Tournament</a>-->
</center>
</body>
</html>